<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGMqxRya3NgaxiYhrwEvoXH61BUhic8Ws</string>
	<key>GCM_SENDER_ID</key>
	<string>273537979979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dalati</string>
	<key>PROJECT_ID</key>
	<string>dalati-2f156</string>
	<key>STORAGE_BUCKET</key>
	<string>dalati-2f156.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273537979979:ios:15cf7c8ffc52d3cd815fce</string>
</dict>
</plist>